---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="404了，你想找的东西没找到"
	description="丢了吧~"
	date={new Date('2025-09-28')}
>
	<p>
		404错误，因为迁移过blog，很多原来的url改变了，这也是常有的事情，回主页找找看吧。
	</p>
</Layout>
