---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于Kim,也就是我"
	description="博主的伟大之处与过人之长"
	date={new Date('2020-03-16')}
	heroImage="/about.webp"
>
	<p>
		博主是个高大、英俊、有济世之才的人，已婚。前半生从事过银行、传媒、互联网等行业，后来一直搞跨境电商。自2020年多事之春开始学习python（因为当时在家实在无聊），所以弄了这个博客记录一下学习心得。考虑到学习过程三天打鱼两天晒网，又没什么诚意，所以错漏之处在所难免。这个域名（dvd3.net）是当年搞网上软件销售时用的域名，挺短又好记，一直没注销就随便拿来用用了。	
	</p>
</Layout>
